.pageWrapper{
	height: 1100px;
	width:100%;
	
}

.navbarCustom{
	position:relative;
	top:-3%;
}


.addFeedButton{
	
	position:relative;
	top:-5%;
	left:45%;
}
.feedForm{
	display:none;
}

.searchBoxTags{
	position:relative;
	top:5000px;
	
}