.pageWrapper{
	height: 1100px;
	
	
}

.navbarCustom{
	position:relative;
	top:-3%;
}


.addFeedButton{
	
	position:relative;
	top:-5%;
	left:45%;
}
.feedForm{
	display:none;
}

.searchBoxTags{
	position:relative;
	
	
}
.test22{
	overflow-wrap: break-word;
}
.mainWindowBox{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	
}